.CategoryCard {
  margin-top: 5%;
  margin-left: 5%;
}
.Blue {
  background-color: #0abcf9;
  background-image: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
  height: 25rem;
}
.HireHead {
  margin-top: 7%;
  margin-left: 5%;
  color: white;
  width: 40%;
}
.Btn-1 {
  margin-left: 14%;
  margin-top: 2%;
  color: white;
  transition: transform 0.1s;
  font-weight: bolder;
}
.Btn-1:hover {
  transform: scale(1.03);
}
.Btn-2 {
  margin-left: 2%;
  margin-top: 2%;
  color: white;
  font-weight: bolder;
  transition: transform 0.1s;
}
.Btn-2:hover {
  transform: scale(1.03);
}
.FilterDiv {
  width: 20rem;
  padding: 8%;
  background-color: #fbfcfd;
}
.FilterHead {
  margin-left: 26%;
  color: black;
  font-weight: bold;
  margin-top: 3%;
}
.Filter {
  margin-left: 28%;
  color: black;
}
.Jobs {
  width: 290%;

  margin-top: 10%;
  background-color: #f5f7fc;
}
.JobHeading {
  color: Black;
  text-align: left;
}
.JobHeading1 {
  color: white;
}
.JobPara {
  color: Black;
  margin-left: 6%;
  text-align: left;
}
.SellName {
  margin-top: 0.5%;
  color: white;
}
.SellerNameIcon {
  text-align: left;
  border-radius: 50%;
  margin-top: 17%;
}

.Skills {
  margin-left: 1.5%;
  transition: transform 0.2s;
}
.Skills:hover {
  transform: scale(1.03);
}
/* .FilterDiv.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
  background-color: #;
} */

.row {
  margin-right: 0;
  margin-left: 0;
}

.JobsContainer {
}

.Jobs {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 5%;
  overflow: hidden;
  width: 65rem;
  transition: transform 0.1s;
}
.Jobs:hover {
  transform: scale(1.03);
}
.JobsPreview {
  background-color: #2c69d1;
  color: #fff;
  padding: 3%;
  max-width: 250px;
}

.JobsPreview a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.JobsInfo {
  padding: 3%;
  position: relative;
  width: 100%;
}
