.Nav-2 {
  margin-left: 32%;
}
.Search {
  width: 500px;
  margin-left: 20%;
  border-radius: 15%;
  background-color: rgb(183, 176, 218);
}
::placeholder {
  color: black;
}
.NavItem {
  padding-right: 10px;
  color: black;
}
.NavBar {
  background-color: #fbfcfd;
  color: black;
  height: 10%;
  position: sticky;
}
.SearchPlace {
  color: black;
}
