.Avatar {
  border-radius: 50%;
  margin-left: 14%;
}
.Seller {
  height: 40%;
  width: 80%;
  margin-top: 2%;
  margin-left: 17%;
}
.Logo {
  height: 3rem;

  border-radius: 50%;
  margin-left: 5%;
}
.PatentComment {
  width: 80%;
  height: 8%;
  margin-left: 15%;

  margin-bottom: 3%;
}
.ComHead {
  margin-top: 0.7%;
  margin-left: 1%;
}
.ComHead1 {
  margin-top: 4%;
  margin-left: 1%;
}
.Heading {
  margin-left: 14%;
  margin-top: 5%;
}
.Heading1 {
  margin-left: 14%;
  margin-top: 2%;
}
.ContactButton {
  margin-left: 11%;
}
.Description {
  margin-left: 18%;
}
.SubPat {
  margin-left: 6%;
  margin-top: 14%;
  height: 45%;
  width: 70%;
  margin-left: 20%;
  top: 20%;
  position: -webkit-sticky;
  position: sticky;
  transition: transform 0.2s;
  background-color: #fbfcfd;
}
.SubPat:hover {
  transform: scale(1.03);
}
.JobProfile {
  position: relative;
}
.Respond {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.473);
}
.SellerInfo {
  margin-top: 4%;
  justify-content: left;
}
.EthDesc {
  margin-left: 19%;
  /* margin-top: 2%; */
  /* margin-bottom: 5%; */
}
.NameJob {
  margin-top: 3%;
}
.ApproveProposal {
  margin-left: 0;
  /* margin-bottom: 20%;
  width: 80%; */
}

.JobSkills {
  display: block;
}

.SideCard {
  margin-right: 5%;
  margin-left: 13%;
}
.SideCard1 {
  margin-right: 21%;
  margin-left: 13%;
}
.ProposalForm {
  padding: 4%;
}
