.Avatar {
  border-radius: 50%;
  margin-left: 14%;
}
.Seller {
  height: 40%;
  width: 80%;
  margin-top: 2%;
  margin-left: 17%;
}
.Logo {
  height: 3rem;

  border-radius: 50%;
  margin-left: 5%;
}
.PatentComment {
  width: 80%;
  height: 8%;
  margin-left: 15%;

  margin-bottom: 3%;
}
.ComHead {
  margin-top: 0.7%;
  margin-left: 1%;
}
.ComHead1 {
  margin-top: 4%;
  margin-left: 1%;
}
.Heading {
  margin-left: 14%;
  margin-top: 5%;
}
.Heading1 {
  margin-left: 14%;
  margin-top: 2%;
}
.ContactButton {
  margin-left: 11%;
}
.Description {
  margin-left: 18%;
}
.SubPat {
  margin-left: 6%;
  margin-top: 14%;
  height: 78%;
  width: 70%;
  margin-left: 20%;
  top: 20%;
  position: -webkit-sticky;
  position: sticky;
}
.JobProfile {
  position: relative;
}
.Respond {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.473);
}
.SellerInfo {
  margin-top: 4%;
  justify-content: left;
}
.EthDesc {
  margin-left: 19%;
}
.NameJob {
  margin-top: 3%;
}
.ApproveProposal {
  margin-left: 60%;
  margin-bottom: 6%;
}

.ProposalForm {
  padding: 4%;
}